*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 1px;
}

.tarjeta{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: radial-gradient(ellipse at 70% 20%,rgba(158,158,158,1) 0%, rgba(0,0,0,1) 59%);    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px rgba(27, 82, 153, 0.2);
}
h2{
    color: #E71D36;
    line-height: 80px;
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    height: 80px;
}
input{
    width: 250px;
    height: 250px;
    text-align: center;
    border: solid 2px rgb(1, 37, 121);
    border-radius: 50%;
    margin-bottom: 50px;
    background: rgb(118,196,246);
    background: linear-gradient(227deg, rgba(118,196,246,1) 0%, rgba(5,13,247,1) 59%);
    color: #fff;
    box-shadow: 2px 2px rgb(1, 37, 121);
    font-size: 18px;

}
input:focus{
    border: solid 2px rgb(89, 128, 218);
    box-shadow: unset;
    outline: none;
}
button{
    padding: 7px;
    border-radius: 5px;
    background: rgb(0, 43, 143);
    color: #f2f2f2;
    box-shadow: 2px 2px rgba(27, 82, 153, 0.2);
}
.desaparecer{
    display: none;
}

.aparecer{
    display: inline-block;
}
.textoRespuesta{
    width: 250px;
    height: 250px;
    text-align: center;
    border: solid 2px #1B5299;
    border-radius: 50%;
    margin-bottom: 50px;
    background: rgb(118,196,246);
    background: linear-gradient(227deg, rgba(118,196,246,1) 0%, rgba(5,13,247,1) 59%);
    color: #fff;
    font-size: 18px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textoPregunta{
    color: #E71D36;
    font-weight: 600;
    font-size: 28px;
    padding: 10px;
}